:root {
    --accent-color: #2E2F42;
    --item-color: #4D5AE5;
    --hero-color: #FFFFFF;
    --background-color: #F4F4FD;
    --address-color: #434455;
}

body {
    font-family: 'Roboto', "Raleway" sans-serif;
    color: #434455;
    background-color: var(--hero-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*----------HEADER---------*/

.header-socials-link:hover,
.header-socials-link:focus {
    color: #404bbf;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-logo {
    color: var(--item-color);
font-size: 18px;
font-weight: 800;
font-family: "Raleway", sans-serif;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-logo-accent {
    color: var(--accent-color);
}

.header-list-link {
    color: var(--accent-color);
    font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-list-link:hover ,
.header-list-link:focus {
    color: #404bbf;
}

.address-list-socials {
    font-style: normal;
}

.header-socials-link {
    color: var(--address-color);
font-size: 16px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*----------HERO---------*/

.hero {
    background-color: var(--accent-color);
}
.hero-title {
    color: var(--hero-color);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}
.hero-btn:hover {
    color: var(--hero-color);
font-size: 16px;
font-family: inherit;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
background-color: var(--item-color);
}

.hero-btv:focus {
    background-color: #404BBF;
}
/*----------Advantages---------*/

.advantages {
    background-color: var(--hero-color);
}

.advantages-subtitle {
    color: var(--accent-color);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.advantages-item-text {
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.webcontent-title {
    color: var(--accent-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

/*----------Team---------*/

.team {
    background-color:  var(--background-color);
}

.team-list-item {
    color: var(--accent-color);
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.team-item {
    color: #434455;
text-align: center;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer {
    background-color: var(--accent-color);
}
.footer-logo {
    color: var(--background-color);
font-size: 18px;
font-family: Raleway;
font-weight: 800;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.link {
}

.footer-down {
    color: var(--background-color);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*----------Portfolio---------*/

.head-list-item:hover,
.head-list-item:focus {
    color: var(--item-color);
text-align: center;
font-size: 16px;
font-family: inherit;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: var(--background-color);
cursor: pointer;
}
.head-item:hover,
.head-item:focus {
    color: #4d5ae5;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--background-color);
    cursor: pointer;
}
.head-content-list {
}
.menu {
}
.portfolio-content {
    color: var(--accent-color);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.portfolio-item {
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer-second-logo {
    color: var(--background-color);
font-size: 18px;
font-family: Raleway;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.portfolio-img {
 background: -25.026px 0px / 125% 100% no-repeat;
}